/Aula1/nbproject/private/
/Aula1/build/
/.metadata/
/Aula_5/nbproject/private/
/Aula_5/build/
/AlocacaoMemoriaJava/nbproject/private/
/AlocacaoMemoriaJava/build/
/Calculadora2/build/
/Aula4/build/
/Estrutura_Dados/build/
/Aula6 - Abstrato_Interface/build/
/ExercicioPilhas/build/