/Aula1/nbproject/private/
/Aula1/build/
/.metadata/
/Aula_5/nbproject/private/
/Aula_5/build/
/AlocacaoMemoriaJava/nbproject/private/
/AlocacaoMemoriaJava/build/
/Calculadora2/build/
/Aula4/build/
/Estrutura_Dados/build/
/Aula6 - Abstrato_Interface/build/
/ExercicioPilhas/build/
/ExercicioPilhas/dist/
/Estrutura_Dados/dist/
/Aula7_Interface/build/
/Aula8/build/
/Aula9/build/
/Aula10/nbproject/private/
/Aula10/build/
/Exercicio_FormularioCadastro/build/
/Exercicio_CadastroEquipamentos/nbproject/private/
/Exercicio_CadastroEquipamentos/build/